
.header {
  background-color: #ffdab9;
  padding: 9rem 0 3.5rem;
}

.container {
  width: 90%;
  margin: 0 auto;
}

.featuresContainer {
  width: 80%;
  margin: 0 auto;
  background-color: #fffff0;
}

.headerContainer {
  display: grid;
  grid-template-columns: 1fr 1fr;
  /* place-items: center; */
  margin: 0 auto;
  gap: 3rem;
}

.featuresHeader h1 {
  font-size: 2.4rem;
}

.headerLeft h1 {
  font-size: 3.5rem;
  line-height: 4.5rem;
}

.pedCare {
  color: #ff7f50;
}

.headerLeft p {
  font-size: 1.1rem;
  font-weight: 400;
}

.btns {
  margin: 2rem 0;
}

.btns button,
.getBtn {
  padding: 0.6rem 1.2rem;
  background-color: #ff7f50;
  border: none;
  outline: none;
  font-weight: 500;
  border-radius: 0.6rem;
  color: white;
  font-size: 1rem;
  cursor: pointer;
}

/* .headerRight img {
  width: 600;
  height: 450;
} */

/*==== Services =====*/

.services {
  padding: 5rem 0;
}

.servicesContainer {
  margin: 0 auto;
  width: 80%;
}

.servicesHeader {
  text-align: center;
  margin: 1rem 0 5rem;
}

.servicesHeader h2 {
  font-size: 2.5rem;
  font-weight: 700;
}

.servicesMain {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  row-gap: 6.5rem;
  column-gap: 3.5rem;
  place-content: center;
  /* align-items: center; */
}

.servicesMain article {
  text-align: center;
}

.servicesInfoHeader {
  font-size: 1.25rem;
  font-weight: 600;
  line-height: 1.875rem;
}

.servicesMain p {
  width: 80%;
  font-size: 1rem;
  line-height: 1.5rem;
  margin: 0 auto;
  font-weight: 400;
}

/*==== Features =====*/

.featuresMobile {
  display: none;
}

.featuresHeader {
  margin: 1rem 0 3rem;
  text-align: center;
}

.features {
  margin: 1rem 0;
}

.medSafeChat,
.easyAppoint,
.docFiles,
.prescriber {
  display: grid;
  grid-template-columns: 1fr 1fr;
  place-items: center;
  padding: 72px 10px 72px 10px;
  gap: 64px;

}

/*==== CTA ======*/

.cta {
  margin: 6.5rem 0 3rem;
}

.ctaMain {
  width: 80%;
  margin: 0 auto;
  background-color: #008080;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.8rem 2rem 1.2rem;
  border-radius: 2rem 2rem 0 0;
  position: relative;
}

/* .ctaRight{
} */

.ctaLeft h3 {
  color: white;
  font-size: 1.5rem;
}

.ctaBtns {
  display: flex;
  align-items: center;
  gap: 1.5rem;
}

.ctaBtn button {
  padding: 0.6rem 1.2rem;
  background-color: #ff7f50;
  border: none;
  outline: none;
  font-weight: 500;
  border-radius: 0.6rem;
  color: white;
  font-size: 1rem;
  cursor: pointer;
}

.ctaRight img {
  position: absolute;
  bottom: 0;
  right: 3%;
}

/*======= FAQs ========*/
.faqs {
  margin: 4rem 0 2rem;
    background: #F1F1F1;
    padding: 3rem 0 2rem;
}

.faqsContainer {
  width: 60%;
  margin: 0 auto;
}

.faqsHeader h2 {
  text-align: center;
  margin: 1rem 0 2.5rem;
}





/* Mobile */
@media (max-width: 700px) {
  .container {
    width: 94%;
    margin: 0 auto;
  }

  /*==== home Header ===*/
  .header {
    background-color: #ffdab9;
    padding: 5.5rem 0 3.5rem;
  }

  .headerImg {
    width: 96%;
    height: 300px;
  }

  .featuresContainer {
    width: 94%;
    margin: 0 auto;
  }

  .headerContainer {
    grid-template-columns: 1fr;
    gap: 3.5rem;
  }

  /*==== Services =====*/

  .services {
    padding: 3rem 0;
  }

  .servicesContainer {
    width: 96%;
  }

  .servicesHeader {
    margin: 1rem 0 3rem;
  }

  .servicesHeader h2 {
    font-size: 1.5rem;
  }

  .servicesMain {
    grid-template-columns: 1fr;
    gap: 4.5rem;
  }

  .servicesMain article {
    text-align: center;
  }

  .servicesInfoHeader h5 {
    font-size: 0.8rem;
    font-weight: 500;
  }

  .servicesMain p {
    width: 90%;
    margin: 0 auto;
  }

  .featuresDesktop {
    display: none;
  }

  .featuresMobile {
    display: flex;
    flex-direction: column;
    gap: 1rem;
  }

  .featuresHeader {
    margin: 3rem 0 1rem;
  }

 

  .medSafeChat,
  .easyAppoint,
  .docFiles,
  .prescriber {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 1rem;
  padding: 32px 0 32px 0;


    /* display: flex;
  justify-content: space-between;
  align-items: center; */
  }

  .ctaMain {
    flex-wrap: wrap;
  }

  .ctaLeft{
    text-align: center;
  }

  .ctaLeft h3{
    font-size: medium;
    margin-bottom: 3rem;
  }

  .ctaBtns {
    flex-direction: column;
  }

  .ctaRight img {

    display: none;
  }

  .faqsContainer {
    width: 92%;
    margin: 0 auto; 
   
  }

  .faqsHeader h3 {
    font-size: 1.2rem;
  }
}

/* Tablet and Smaller Desktop */
@media (min-width: 701px) and (max-width: 1120px) {
  .header {
    padding: 6rem 0 1.5rem;
  }

  .headerContainer {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 2rem;
  }

  .featuresContainer {
    width: 90%;
  }

  .medSafeChat,
  .easyAppoint,
  .docFiles,
  .prescriber {
    gap: 4rem;
  }

  .ctaLeft h3 {
    color: white;
    font-size: 1.1rem;
    width: 60%;
  }
}
