/* .main {
    padding: 6rem 0 2rem;
    background-color: #ff7f50;
    min-height: 100vh;
  } */

.header {
  background-color: #ffdab9;
  padding: 8rem 0 2rem;
}

.container {
  width: 80%;
  margin: 0 auto;
}

.featuresContainer {
  width: 60%;
  margin: 0 auto;
}

.headerContainer {
  display: grid;
  grid-template-columns: 1fr 1fr;
  /* place-items: center; */
  margin: 0 auto;
  gap: 5rem;
}

.featuresHeader h1{
    font-size: 2.4rem;
}


.headerLeft h1 {
  font-size: 3rem;
}

.pedCare{
  color:#ff7f50;
}

.headerLeft p {
  font-size: 1.1rem;
  font-weight: 400;
}

.btns {
  margin: 2rem 0;
}

.btns button {
  padding: 0.6rem 1.2rem;
  background-color: #ff7f50;
  border: none;
  outline: none;
  font-weight: 600;
  border-radius: 0.6rem;
  color: white;
  font-size: 1rem;
  cursor: pointer;
}

/* .headerRight img {
  width: 600;
  height: 450;
} */

.featuresHeader {
  margin: 3rem 0;
  text-align: center;
}

.features {
  margin: 1rem 0;
}

.medSafeChat,
.easyAppoint,
.docFiles,
.prescriber {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 6rem;
  padding: 3rem 0;
  place-items: center;

  /* display: flex;
  justify-content: space-between;
  align-items: center; */
}

/*==== CTA ======*/

.cta{
  margin: 6.5rem 0 3rem;
}

.ctaMain{
  width: 80%;
  margin: 0 auto;
  background-color: #008080;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.8rem 2rem 1.2rem;
  border-radius: 2rem 2rem 0 0;
  position: relative;
}

/* .ctaRight{
} */

.ctaLeft h3{
  color: white;
  font-size: 1.5rem;
}

.ctaBtns{
  display: flex;
  align-items: center;
  gap: 1.5rem;
}

.ctaBtn button{
  padding: 0.6rem 1.2rem;
  background-color: #ff7f50;
  border: none;
  outline: none;
  font-weight: 600;
  border-radius: 0.6rem;
  color: white;
  font-size: 1rem;
  cursor: pointer;
}

.ctaRight img{
  position: absolute;
  bottom: 0;
  right: 3%;

}

/* Mobile */
@media (max-width: 700px) {
  .container {
    width: 94%;
    margin: 0 auto;
  }

  /*==== home Header ===*/

  .headerImg {
    width: 96%;
    height: 300px;
  }

  .featuresContainer {
    width: 94%;
    margin: 0 auto;
  }

  .headerContainer {
    grid-template-columns: 1fr;
    gap: 5rem;
  }

  .featuresHeader {
    margin: 3rem 0 1rem;
  }

  .medSafeChat,
  .easyAppoint,
  .docFiles,
  .prescriber {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
  }




  .ctaMain{
    flex-wrap: wrap;
    
  }

  .ctaBtns{
    flex-direction: column;
  }

  .ctaRight img{
    /* position: absolute;
    bottom: 0;
    right: 3%; */
    display: none;
  
  }

  /* Tablet and Smaller Desktop */
  @media (min-width: 701px) and (max-width: 1120px) {
  }
}
