.main {
  /* background-color: #ff7f50; */
  min-height: 100vh;
}



/* .headerContainer{
  background-color: #ff7f50;
} */

/* Mobile */
@media (max-width: 700px) {
  /* Tablet and Smaller Desktop */
  @media (min-width: 701px) and (max-width: 1120px) {
  }
}

@keyframes rotate {
  from {
    transform: rotate(360deg);
  }
  to {
    transform: rotate(0deg);
  }
}
