

.sliderMain{
    width: 80%;
    margin: 0 auto;
}

/* .sliderMain{
    padding: 5rem;
    background-color: green;
} */

/* .sliderWrapper{
    background-color: blue;
} */

.sliderWrapper{
    /* background-color: yellow; */
    padding: 1rem 5rem;
}

.slide{
    background-color: #FFDAB9;
    max-width: 250px;
    border-radius: 1.5rem;
    position: relative;
    height: 200px;
    text-align: center;
    padding: 1.2rem;
    margin: 2rem;
}

.slideImg{
    display: grid;
    place-content: center;
    /* position: absolute;
    top: -2rem;
    left: 50%;
    z-index: 10;
    right: 50%;
    transform: translateX(-50%, 50%);
    background-color: blue;
} */
}