.signup{
    padding: 6.5rem 0 2rem;
}

.signupContainer{
  width: 90%;
  margin: 0 auto;
  display:grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 3rem;
}

.signupLeft img{
  border-radius: 2rem;
}


.signupForm{
  border-radius: 2rem;
  box-shadow: 0 0 2px gray;
  padding: 1rem 2rem;
}

.signupHeader{
  text-align: center;
  margin-bottom: 1.5rem;
}

/* .signupHeader h2{
  padding-bottom: 0.65rem;
} */

.signupHeader p{
  font-size: 1.05rem;
  color: gray;
}

.signupMain form {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  align-items: center;
  justify-content: center;
}

.inputGroup input,
.inputGroup select{
 border: 1px solid rgb(187, 181, 181);
 padding: 0.65rem;
 border-radius: 0.25rem;
 min-width: 400px;
outline: none;
font-family: inherit;
}


.inputGroup input::placeholder,
.inputGroup select::placeholder{
font-family: inherit;
font-size: medium;
color: gray;
}


.inputGroup input:focus,
.inputGroup select:focus{
    border: 1px solid bisque;
}


.userProfile{
  cursor: pointer;
  font-family: inherit;
  background-color: rgb(223, 222, 222);
  cursor: pointer;
  padding: 0.2rem 1rem;
  border-radius: 0.5rem;
}

.userProfile label{
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 1rem;
}

.userProfile p{
  font-size: 0.9rem;
  font-family: inherit;
}

.userProfile label img{
  background-color: darkgray;
  border-radius: 50%;
}

.userProfile input{
  display: none;
}

.signupBtn{
  padding: 1rem 1.8rem;
  background-color:  #FF7F50;
  border-radius: 0.25rem;
  cursor: pointer;
  margin: 1rem 0;
  transition: 300m ease-in all;
  border: none;
outline: none;
color: white;
font-weight: 500;
font-size: 1.1rem;
}

.signupBtn:hover{
  opacity: 0.8;
}

.toSiginIn{
  text-align: center;
  width: 60%;
  margin: 0 auto;

}
.toSiginIn p{
  font-size: 0.85rem;
}
.toSiginIn p a{
  color: #FF7F50;
  font-weight: 600;
}


.errorMsg{
  color: red;
}


/* Mobile */
@media (max-width: 700px) {
    /* Tablet and Smaller Desktop */
  
  
    .signup{
      padding: 8rem 0 2rem;
    }
    
    .signupContainer{
      width: 94%;
      border-radius: 2rem;
    }
  
    
    .signupForm form {
      gap: 2rem;
    }
    
    .inputGroup input{
    min-width: 300px;
  
    }
    
    
    .loginBtn{
      padding: 0.8rem;
    }

}