

.logoutBtn {
    padding: 0.8rem 1.2rem;
    background-color: #ff7f50;
    border-radius: 0.25rem;
    cursor: pointer;
    margin: 1rem 0;
    transition: 300m ease-in all;
    border: none;
    outline: none;
    color: white;
    font-weight: 500;
    font-size: 1.1rem;
  }
  
  .logoutBtn:hover {
    opacity: 0.8;
  }